name: Build

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set Environment Variables
        run: |
          echo "IS_RELEASE_BUILD=${{ github.ref_type == 'tag' }}" >> $GITHUB_ENV
          echo "IS_DEV_BUILD=${{ github.ref_type != 'tag' }}" >> $GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md#using-the-cache-read-only
          cache-read-only: ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop' && github.ref_type != 'tag' }}

      - name: Cache Maven Dependencies
        id: cache-maven
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven

      # paperweight is used for 1.17.1+
      - name: Run BuildTools Assistant (1.8.8 - 1.17)
        run: |
          versions=(1.8.8 1.9.4 1.10.2 1.11.2 1.12.2 1.13 1.13.2 1.14.4 1.15.2 1.16.1 1.16.3 1.16.5 1.17)

          for v in "${versions[@]}"; do
            if [[ ! -f "$HOME/.m2/repository/org/spigotmc/spigot/${v}-R0.1-SNAPSHOT/spigot-${v}-R0.1-SNAPSHOT.jar" ]]; then
              missing=true
              break
            fi
          done

          if [[ $missing ]]; then
            wget -O BuildTools-Assistant-Linux.zip https://github.com/Insprill/buildtools-assistant/releases/download/v1.1.2/BuildTools-Assistant-Linux.zip
            unzip BuildTools-Assistant-Linux.zip
            chmod +x buildtools-assistant
            ./buildtools-assistant -w 3 -b 4096 --verbose "${versions[@]}"
          else
            echo "All Spigot jars present. Skipping BuildTools."
          fi

      # Java 21 for the build
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Build
        run: ./gradlew build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Damage Indicator
          path: build/libs

      - name: Update Resource Pages
        if: ${{ github.event_name != 'pull_request' }}
        env:
          MODRINTH_API_TOKEN: ${{ secrets.MODRINTH_API_TOKEN }}
        run: ./gradlew modrinthSyncBody

      - name: Publish to Modrinth
        if: ${{ env.IS_RELEASE_BUILD == 'true' }}
        env:
          MODRINTH_API_TOKEN: ${{ secrets.MODRINTH_API_TOKEN }}
        run: ./gradlew build modrinth -x test -Pversion.metadata=${{ env.IS_DEV_BUILD }} -Pbuild.is-release=${{ env.IS_RELEASE_BUILD }}
